PORT=5000
CLIENT_URL=http://localhost:5173
NODE_ENV=development

MONGO_URI=mongodb://127.0.0.1:27017/nexa-star

JWT_SECRET=c58555f1af79d3c4ecf49d5ab01ed487e1c3691820b42c45
JWT_EXPIRES_IN=7d

ZINIPAY_API_KEY=c58555f1af79d3c4ecf49d5ab01ed487e1c3691820b42c45
ZINIPAY_BASE_URL=https://api.zinipay.com/v1

ZINIPAY_REDIRECT_URL=http://localhost:5173/payment-result
ZINIPAY_CANCEL_URL=http://localhost:5173/payment-result?status=cancelled
ZINIPAY_WEBHOOK_URL=http://localhost:5000/api/payment/webhook

REFERRAL_COMMISSION_PERCENT=10